#flow-dialog-content #table-detailed-data-flow tbody tr.dt-detail-row > td {
	border-width: 0;
}

#flow-dialog-content #table-detailed-data-flow th {
	white-space: nowrap;
}

#flow-dialog-content #table-detailed-data-flow > tbody > tr,
#flow-dialog-content #table-detailed-data-flow > tbody > tr {
	height: 44px;
	line-height: 15px;
}

#flow-dialog-content #table-data-flow-log .dfm-detail-1,
#flow-dialog-content #table-data-flow-log .dfm-detail-2 {
	width: 125px;
}

#flow-dialog-content #data-flow-page-body {
	margin-bottom: 15px;
	margin-top: 3px;
}

#flow-dialog-content #data-flow-page-body #download-span,
#flow-dialog-content #data-flow-page-body #download {
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
}

#flow-dialog-content .data-flow-log-message-type-Error {
	background-color: #F2B5B9;
}

#flow-dialog-content .data-flow-log-message-type-Information {
	background-color: #C4D7EA;
}

#flow-dialog-content .data-flow-log-message-type-Warning {
	background-color: #ffd050;
}

.dataflow-links-container {
	display: flex;
	justify-content: space-between;
}

.dataflow-links-container.modal-dialog-links-container {
	margin-right: 10px;
}

.show-dataflow-detail,
.show-dfpm-detail,
.show-dfpm-detail-guig02,
.download-archive,
.show-created-link-complete-dataflow-detail,
.show-source-link-complete-dataflow-detail,
.show-configuration-link-dataflow-list {
	text-decoration: underline;
}

.show-dataflow-detail:hover,
.show-dfpm-detail:hover,
.show-dfpm-detail-guig02:hover,
.show-created-link-complete-dataflow-detail:hover,
.show-source-link-complete-dataflow-detail:hover,
.show-configuration-link-dataflow-list:hover {
	cursor: pointer;
}

.dialog-content-link-container {
	margin-top: 8px;
}

#flow-dialog-content.dataflow-lite #detailed-data-flow {
	display: none;
}

#flow-dialog-content.dataflow-lite #data-flow-page-body > .section-header {
	display: none;
}

#flow-dialog-content .data-flow-log-table-wrapper {
    background-color: white;
    color: #555555;
    font-size: 13px;
    margin-bottom: 15px !important;
    margin-top: 10px !important;
    padding: 10px 10px 15px;
}

#flow-dialog-content #download-span {
	font-weight: bold;
	color: black !important;
	margin-right: 10px;
	padding-top: 10px;
}

#flow-dialog-content #download {
	padding-top: 10px;
}

#flow-dialog-content #data-flow-log thead tr th.dfm-detail-1 {
	width: 15%;
}
#flow-dialog-content #data-flow-log thead tr th.dfm-detail-2 {
	width: 15%;
}
#flow-dialog-content #data-flow-log thead tr th.dfm-detail-3 {
	width: 15%;
}
#flow-dialog-content #data-flow-log thead tr th.dfm-detail-4 {
	width: 55%;
}

#flow-dialog-content #data-flow-log td .break-word {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    width: 380px;
}