.ui-dialog[aria-describedby="welcome-popup"] .ui-dialog-titlebar {
    display: none;
}

#welcome-popup.ui-dialog-content {
    margin-top: 35px;
}

#welcome-popup.ui-dialog-content .logo {
    background: url(../images/common/welcome-popup_logo.png) no-repeat left;
    height: 93px;
    width: 230px;
    margin: 0 auto 30px auto;
}

#welcome-popup.ui-dialog-content .center {
    text-align: center;
}

#welcome-popup.ui-dialog-content h2 {
    margin-bottom: 1em;
    display: block;
	text-align: center;
}

#welcome-popup.ui-dialog-content p {
    margin-bottom: 1em;
}

#welcome-popup.ui-dialog-content strong {
    font-weight: bold;
}

#welcome-popup.ui-dialog-content li {
    padding-left: 2em;
    list-style-type: disc;
    list-style-position: inside;
}

#welcome-popup.ui-dialog-content .button-wrapper {
    margin: 15px 0 15px 0;
}

#welcome-popup.ui-dialog-content #close-button .ui-button-text{
    margin-top: 5px;
    line-height: 18px;
}

#welcome-popup.ui-dialog-content {
	margin-top: 15px;
}

#welcome-popup.ui-dialog-content .logo {
	margin: 0px auto 20px;
}

#welcome-popup.ui-dialog-content p {
	line-height: 1.2;
}

#welcome-popup.ui-dialog-content li {
	line-height: 1.2;
}

#welcome-popup p strong {
	display: block;
	margin: 0 auto;
	width: 435px;
}