/**********************************/
/** angular-base-web styles.less **/
/**********************************/
.ng-icon {
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(80, 80, 80, 0.5);
  height: 32px;
  margin: 5px auto;
  vertical-align: middle;
  width: 32px;
}
.ng-icon div {
  width: 100%;
  height: 100%;
}
.ng-icon .ng-icon-active {
  background-image: url("../../../images/icons/Icon_active.png");
}
.ng-icon .ng-icon-decommissioned {
  background-image: url("../../../images/icons/Icon_decommissioned.png");
}
.ng-icon .ng-icon-cancelled {
  background-image: url("../../../images/icons/Icon_cancelled.png");
}
.ng-icon .ng-icon-ac-link {
  background-image: url("../../../images/icons/Icon_ac-link.png");
}
.ng-icon .ng-icon-dc-link {
  background-image: url("../../../images/icons/Icon_dc-link.png");
}
.ng-icon .ng-icon-substation {
  background-image: url("../../../images/icons/Icon_substation.png");
}
.ng-icon .ng-icon-transformer {
  background-image: url("../../../images/icons/Icon_transformer.png");
}
/*
* Less CSS basic style
*/
.hide {
  display: none;
}
.right-align {
  text-align: right;
}
.ui-autocomplete.ui-front {
  z-index: 1001;
}
div.formItem input {
  float: none;
}
div.formItem.valid-to label {
  float: none;
  display: block;
}
div.formItem.valid-to .prettycheckbox {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
div.formItem.valid-to.datepicker input {
  width: 190px;
}
div.formItem.status label,
div.formItem.status input {
  float: none;
  clear: none;
}
div.formItem.status .row {
  margin-top: 10px;
  margin-left: 15px;
}
table.key-value-table {
  width: 95%;
}
table.key-value-table th {
  background-color: white;
  border: none;
  font-weight: bold;
  line-height: normal;
  height: auto;
  padding-top: 10px;
}
table.key-value-table td {
  border: none;
  padding-top: 5px;
}
input.ng-invalid.ng-dirty,
form.submitted input.ng-invalid {
  border-color: #D54B58 !important;
  background-color: #F7D3D5 !important;
  color: #B72D3A;
}
.new-report-button {
  margin-top: 1.5em;
}
.ui-button.operation-download {
  background-image: url("../../images/icons/Icon_Download.png");
  background-position: center center;
}
.server-error-message {
  color: #D54B58 !important;
  float: right;
  font-size: 13px;
  margin-top: 8px;
}
/****************************************/
/** subscription-web subscription.less **/
/****************************************/
.news-uc .detail-container {
  padding: 10px !important;
}
.news-uc .detail-container .news-content {
  background-color: #ffffff;
  padding: 10px;
}
.news-uc .detail-container .news-content strong {
  font-weight: bold;
}
.news-uc .detail-container .news-content em {
  font-style: italic;
}
.news-uc .detail-container .news-content u {
  text-decoration: underline;
}
.news-uc .detail-container .news-content ol,
.news-uc .detail-container .news-content ul {
  margin-left: 40px;
}
.news-uc .detail-container .news-content ol {
  list-style-type: decimal;
}
.news-uc .detail-container .news-content ul {
  list-style-type: disc;
}
/****************************************/
/** message-boars-web message-board.less **/
/****************************************/
.message-board-uc .dropdown-button {
  background-image: url("../../images/icons/Icon_Filter-Up.png");
  display: inline-block;
  height: 20px;
  margin-left: -9px;
  vertical-align: middle;
  width: 18px;
  cursor: pointer;
}
.message-board-uc .dropdown-menu-wrapper {
  background-color: white;
  border: 2px solid #fdc400;
  padding: 10px 0;
}
.message-board-uc .dropdown-menu-wrapper .dropdown-menu-item {
  padding: 0 10px;
  cursor: pointer;
  min-width: 100px;
}
.message-board-uc .dropdown-menu-wrapper .dropdown-menu-item:hover {
  background-color: #FFF1CC;
}
.message-board-uc table.management-table div.detail-container {
  padding-top: 20px;
  padding-right: 17px;
}
.message-board-uc .message-board-content {
  background-color: white;
  padding: 10px;
}
.message-board-uc .standalone-dms-link {
  text-decoration: underline;
  cursor: pointer;
}
.message-board-uc .standalone-dms-link .dms-path {
  display: none;
}
/****************************************/
/** subscription-web subscription.less **/
/****************************************/
.subscription-uc #tech-spec {
  color: #363d82;
  font-size: 13px;
}
.subscription-uc .detail-container {
  padding-top: 17px !important;
}
.subscription-uc .filters {
  border: none;
}
.subscription-uc .filters td {
  border: none !important;
}
.subscription-uc div.status-table {
  max-width: 770px;
}
.subscription-uc table.status-table .first {
  width: 85px;
}
.subscription-uc table.status-table .fourth {
  width: 70px;
}
.subscription-uc table.status-table td {
  height: 30px;
}
.subscription-uc table.status-table td.status {
  text-align: center;
  line-height: 0;
}
.subscription-uc table.status-table td.status div.ws {
  border: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 14px;
  padding: 4px 10px;
  background-color: #d3d3d3;
}
.subscription-uc table.status-table td.status div.OK {
  background-color: #c8deb0;
}
.subscription-uc table.status-table td.status div.INVALID {
  background-color: #f2b5b9;
}
.subscription-uc table.status-table.no-border {
  width: 90px;
  background: transparent !important;
}
.subscription-uc table.status-table.no-border td,
.subscription-uc table.status-table.no-border th {
  background: transparent !important;
  border: none !important;
}
.subscription-uc table.data-table .second,
.subscription-uc table.data-table .third {
  width: 105px;
}
.subscription-uc table.data-table .fourth {
  width: 94px;
}
.subscription-uc table.data-table .fifth {
  width: 200px;
}
.subscription-uc table.data-table .sixth {
  width: 107px;
}
.subscription-uc .separator {
  height: 20px;
  width: 1px;
}
/****************************************/
/** subscription-web subscription.less **/
/****************************************/
.production-units-uc .filter-box div.labeled-input-container label > label {
  display: inline;
  margin-right: 30px;
}
.production-units-uc table.main-table th.first {
  min-width: 70px;
}
.production-units-uc table.main-table th.second {
  min-width: 70px;
}
.production-units-uc table.main-table th.third {
  min-width: 60px;
}
.production-units-uc table.main-table th.fourth {
  min-width: 70px;
}
.production-units-uc table.main-table th.fifth {
  min-width: 80px;
}
.production-units-uc table.main-table th.sixth {
  min-width: 70px;
}
.production-units-uc table.main-table th.seventh {
  min-width: 65px;
}
.production-units-uc table.main-table th.eighth {
  line-height: 19px;
}
.production-units-uc table.main-table .detail-container .tr-detail-table {
  width: 760px !important;
  float: left;
}
.production-units-uc table.main-table .detail-container .table-container {
  margin-top: 20px;
}
.production-units-uc .production-unit-detail table.data-table th.first {
  min-width: 60px;
}
.production-units-uc .production-unit-detail table.data-table th.seventh {
  min-width: 10px;
  width: 30px;
}
.production-units-uc .production-unit-detail table.data-table td.button-column {
  min-width: 10px;
}
.consumption-units-uc table th.third,
.consumption-units-uc table th.fourth {
  min-width: 70px;
}
.consumption-units-uc table th.fifth {
  min-width: 70px;
}
.consumption-units-uc table th.seventh {
  line-height: 19px;
}
.transmission-assets-uc table th.third,
.transmission-assets-uc table th.fourth {
  min-width: 70px;
  width: 70px;
}
.transmission-assets-uc table th.fifth,
.transmission-assets-uc table th.sixth {
  min-width: 60px;
  width: 60px;
}
.eic-library-uc table th.first {
  min-width: 80px;
  width: 80px;
}
.eic-library-uc table th.second,
.eic-library-uc table th.third {
  min-width: 70px;
  width: 70px;
}
.eic-library-uc table th.fourth,
.eic-library-uc table th.fifth,
.eic-library-uc table th.sixth {
  min-width: 100px;
  width: 100px;
}
.production-units-uc tr td,
.consumption-units-uc tr td,
.transmission-assets-uc tr td,
.production-units-uc tr.dt-row-expanded td,
.consumption-units-uc tr.dt-row-expanded td,
.transmission-assets-uc tr.dt-row-expanded td {
  background-color: transparent !important;
}
.production-units-uc tr[row-state="warning"] td,
.consumption-units-uc tr[row-state="warning"] td,
.transmission-assets-uc tr[row-state="warning"] td,
.production-units-uc tr.dt-row-expanded[row-state="warning"] td,
.consumption-units-uc tr.dt-row-expanded[row-state="warning"] td,
.transmission-assets-uc tr.dt-row-expanded[row-state="warning"] td {
  background-color: #ffffcc !important;
}
.production-units-uc tr[row-state="error"] td,
.consumption-units-uc tr[row-state="error"] td,
.transmission-assets-uc tr[row-state="error"] td,
.production-units-uc tr.dt-row-expanded[row-state="error"] td,
.consumption-units-uc tr.dt-row-expanded[row-state="error"] td,
.transmission-assets-uc tr.dt-row-expanded[row-state="error"] td {
  background-color: #ffd6cc !important;
}
.production-units-uc table .detail-container,
.consumption-units-uc table .detail-container,
.transmission-assets-uc table .detail-container {
  padding-right: 17px;
  padding-top: 17px !important;
}
.production-units-uc #master-data-legend,
.consumption-units-uc #master-data-legend,
.transmission-assets-uc #master-data-legend {
  padding-top: 18px;
}
.production-units-uc #master-data-legend #legend,
.consumption-units-uc #master-data-legend #legend,
.transmission-assets-uc #master-data-legend #legend {
  margin-bottom: 7px;
}
.production-units-uc #master-data-legend #legend-table,
.consumption-units-uc #master-data-legend #legend-table,
.transmission-assets-uc #master-data-legend #legend-table {
  margin-left: 20px;
}
.production-units-uc #master-data-legend #legend-table td,
.consumption-units-uc #master-data-legend #legend-table td,
.transmission-assets-uc #master-data-legend #legend-table td {
  font-size: 13px;
  line-height: 17px;
  padding-right: 15px;
  vertical-align: middle;
  width: 100px;
}
.production-units-uc #master-data-legend #legend-table td.icon-column,
.consumption-units-uc #master-data-legend #legend-table td.icon-column,
.transmission-assets-uc #master-data-legend #legend-table td.icon-column {
  padding-right: 10px;
  width: 21px;
}
