* {
    font-family: arial, sans-serif;
}

#widgetsWrapper {
    border: none;
    width: 940px;
    margin: 0px auto;
}

#widgetsWrapper.dashboard {
    margin: 0px;
    width: auto;
}

h2 {
    display: inline;
    line-height: 41px;
}

.datePicker {
    float: right;
    font-size: 13px;
    color: #6B6B6B;
}

.widgetControls {
    height: 25px;
    display: block;
}

.widgetName {
    text-decoration: underline;
    font-size: 110%;
}

.widgetParentLink {
    text-decoration: underline;
}

.widgetChangeNormal {
    margin: 4px;
    float: right;
    height: 38px;
    border: 1px solid gray;
    background-color: white;
    width: 60px;
    text-align: center;
    font-style: italic;
    cursor: pointer;
}

.widgetChangeThick {
    position: relative;
    float: right;
    height: 25px;
    top: -26px;
    right: -1px;
    border: 1px solid gray;
    border-bottom: none;
    font-style: italic;
    text-align: center;
    width: 120px;
    cursor: pointer;
}

.staticContentWidget {
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    float: inline-start;
}

.staticContentWidget.large {
    width: 974px;
}

.staticContentWidget.medium {
    width: 472px;
}

.staticContentWidget.medium.margin {
    margin-left: 10px;
}

.staticContentWidget.small {
    width: 304px;
}

.staticContentWidget.small.margin {
    margin-left: 11px;
}

.staticContentWidgetContent {
    width: auto;
    height: auto;
    color: #595959;
    text-align: center;
}

.widgetNews {
    width: 875px;
    height: auto;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    float: inline-start;
}

.widgetNewsContent {
    width: 835px;
    height: auto;
    font-size: 13px;
    color: #595959;
    background-color: #ECECEC;
    margin-top: 10px;
    padding: 20px;
}

.widgetLink {
    width: 875px;
    height: auto;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    float: inline-start;
}

.widgetLinkContent {
    width: auto;
    height: auto;
    color: #595959;
    text-align: center;
}

.widgetLinkContent a {
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #C3C5D9;
}

.widgetLarge {
    width: 875px;
    height: 280px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    float: inline-start;
}

.widgetLargeContent {
    width: 835px;
    height: 203px;
    background-color: #ECECEC;
    margin-top: 10px;
    padding: 20px;
    float: inline-start;
}

.widgetMedium {
    width: 422px;
    height: 263px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    float: inline-start;
}

.widgetMediumContent {
    width: 382px;
    height: 165px;
    background-color: #ECECEC;
    margin-top: 10px;
    padding: 20px;
}

.widgetMediumMargin {
    margin-left: 11px;
}

.widgetSmall {
    width: 271px;
    height: 289px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    float: inline-start;
}

.widgetSmallContent {
    width: 231px;
    height: 163px;
    background-color: #ECECEC;
    margin-top: 10px;
    padding: 20px;
}

.widgetSmallMargin {
    margin-left: 11px;
}

.dv-map-time-filter-select, .dv-map-di-filter-select {
    float: left;
    width: 200px;
}

.dv-map-time-filter-select > div, .dv-map-di-filter-select > div {
    display: inline-block;
}

.dv-add-map-to-dashboard {
    float: right;
}

.dv-map-time-filter-wrapper {
    padding: 10px;
    height: 27px;
    background-color: #E1E1E6;
    line-height: 23px;
    font-size: 13px;
}

.dv-map-time-filter-wrapper > span {
    display: block;
    float: left;
    margin-right: 10px;
    color: #595959;
    padding-top: 2px;
}

.dv-map-padding {
    padding: 10px;
}

.widgets-add-button {
    float: right;
}

.widgetControls label {
    color: #6B6B6B;
    font-size: 13px;
}

.widgetLarge .widgetControls .customize-widget-label {
    display: inline-block;
    margin-right: 10px;
}

.widgetMedium .widgetControls .customize-widget-label,
.widgetSmall .widgetControls .customize-widget-label {
    display: block;
    margin-bottom: 5px;
}

.widgetLarge .widgetControls input[type="text"] {
    width: 569px;

}

.widgetMedium .widgetControls input[type="text"] {
    width: 270px;

}

.widgetSmall .widgetControls input[type="text"] {
    width: 264px;
    margin-bottom: 5px;
}

.widgetControls .ui-button {
    margin-right: 0;
}

.widget-description .current-config-label {
    font-size: 16px;
    color: #555555;
}

.widget-description table {
    border-collapse: collapse;
    border-color: #D3D3D3;
    margin-top: 14px;
}

.widget-description table td {
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 9px;
    background-color: white;
    border: 1px solid #D3D3D3;
    line-height: 12px;
}

.widgetNews table {
    background-color: #F0F0F2;
    border: 1px solid #A2A2A2;
    width: 100%;
}

.widgetNews table.dashboard-no-news {
	background-color: transparent;
	border: none;
}

.widgetNews table td {
    border-bottom: 1px solid #A2A2A2;
    margin: 3px;
    padding: 3px 20px;
}

.widgetNews table.dashboard-no-news td {
	border-bottom: none;
}

.widgetNews table td.newsWidgetDate {
    width: 140px;
}

.widgetNews table td label,
.widgetLarge table td label,
.widgetMedium table td label,
.widgetSmall table td label {
    color: #555555;
    font-size: 13px;
    font-weight: normal;
    margin-right: 5px;
}

.widgetSmall table td {
    line-height: 13px;
}

.widgetSmall table td label {
    display: block;
}

.widgets-exclamation {
    margin-bottom: 15px;
    color: #6B6B6B;
}

.widgets-exclamation img {
    vertical-align: middle;
    margin-right: 10px;
}

.dashboard .widgetLarge,
.dashboard .widgetMedium {
    height: 430px;
}

.dashboard .widgetNews,
.dashboard .widgetLink,
.dashboard .widgetLarge {
    width: 974px;
}

.dashboard .widgetMedium {
    width: 472px;
}

.dashboard .widgetNewsContent,
.dashboard .widgetLargeContent,
.dashboard .widgetMediumContent,
.dashboard .widgetSmallContent {
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 406px;
    background-color: white;
    position: relative;
}

.dashboard .widgetMediumContent .dv-map-time-filter-wrapper,
.dashboard .widgetSmallContent .dv-map-time-filter-wrapper {
	display: none;
}

.dashboard .widgetNewsContent {
    height: auto;
}

.dashboard .widgetSmallContent {
    height: 215px;
}

.dashboard .widgetMediumMargin {
    margin-left: 10px;
}

.dashboard .widgetSmallMargin {
    margin-left: 11px;
}

.dashboard .dv-add-to-dashboard {
    display: none;
}

.dashboard .widgetSmall {
    width: 304px;
    height: 240px;
}

.dashboard .widgetName {
    color: #363D82;
    border-bottom: 1px solid #C3C5D9;
    font-size: 13px;
    text-decoration: none;
}

.dashboard .widgetName a {
    text-decoration: none;
    font-size: 16px;
}